# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.D
*dependencies

libtecla/man/func

dest-dir/
libtecla/Makefile
libtecla/config.log
libtecla/config.status
libtecla/man/file/teclarc
libtecla/man/libr/libtecla
libtecla/man/misc/tecla
libtecla/man/prog/enhance
libtecla/normal_obj/
netconf/target/

cscope.out
tags
